# Pipeline to ensure a specific type of data from source have its own index
input {
    pipeline {
        address => os_nix_syslog_auth_pipeline
    }
}
## Add your filters / logstash plugins configuration here

output {
  elasticsearch {
    hosts => "{{es_api_uri}}"
    user => "{{es_user}}"
    password => "{{es_password}}"
    index => "os_nix_auth_%{+yyyy.MM.dd}"
  }
}
