# Ensure JAVA_HOME is exported
# export JAVA_HOME="/opt/elasticsearch/jdk/"

# For syslog, it is better to use "beats" than using "tcp"
input {
  tcp {
    port => "{{ls_tcp_default_port}}"
  }
  beats {
    port => "{{ls_beats_syslog_port}}"
    type => syslog
  }
}
## Add your filters / logstash plugins configuration here

output {
  elasticsearch {
    hosts => "{{es_api_uri}}"
    user => "{{es_user}}"
    password => "{{es_password}}"
    index => "%{[@metadata][beat]}-%{[@metadata][version]}"
  }
}
