

# example: https://www.codeproject.com/Tips/5271551/Configure-Multiple-Pipeline-in-Logstash
- pipeline.id: os_nix_auth_main_pipeline
  config.string: |
    input {
      beats {
        port => "{{ls_beats_syslog_port}}"
        type => syslog
      }
    }
    output {
        if [type] == 'syslog' {
          pipeline { send_to => os_nix_auth_pipeline }
        } else  {
          pipeline { send_to => os_unknown_unknown_pipeline }
        }
    }

- pipeline.id: os_nix_auth_pipeline
  path.config: "{{ls_custom_config_path}}/pipelines/os_nix_auth_pipeline.conf"

- pipeline.id: os_unknown_unknown_pipeline
  path.config: "{{ls_custom_config_path}}/pipelines/os_unknown_unknown_pipeline.conf"
