# ======================== Operational configurations =========================


# To Start basic commands
# mkdir -p {{ es_data_dirs }}
# mkdir -p {{ es_log_dir }}
# ES_PATH_CONF=/opt/elasticsearch/custom/config/ ./bin/elasticsearch &

# Starting logstash
# export JAVA_HOME="/opt/elasticsearch/jdk/"
# ./bin/logstash  -f custom/config/book_xml.conf

# Starting kibana
# ./bin/kibana -c custom/config/kibana.yml &
